/build
.DS_Store
/source/.vs
/source/out
.vscode/
/sg323_stm32/Drivers
/sg323_stm32/Debug
/sg323_stm32/.settings
sg323_build_macos_debug.sh
sg323_build_macos_release.sh
/SG-323.aaxplugin
/SG-323.clap
*.zip
/SG-323.component
/SG-323.vst3
*.exe
/distribution
/build-demo
/out
/repros
build_arm64x
