/build
/libs/aax*
.DS_Store
/source/.vs
/source/out
.vscode/settings.json
/sg323_stm32/Drivers
/sg323_stm32/Debug
/sg323_stm32/.settings
sg323_build_macos_debug.sh
sg323_build_macos_release.sh
greybox-audio-cat-bw.svg
