
SG323/Builds/VisualStudio2022/.vs/SG323/FileContentIndex/33e57e63-e8b3-4c4f-ad08-b53edab4c649.vsidx
SG323/Builds/VisualStudio2022/.vs/SG323/FileContentIndex/586d9a8f-8ebf-42ea-b9c1-505585fd4726.vsidx
SG323/Builds/VisualStudio2022/.vs/SG323/FileContentIndex/read.lock
SG323/Builds/VisualStudio2022/.vs/SG323/v17/.suo
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Browse.VC.db
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Browse.VC.db-shm
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Browse.VC.db-wal
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Browse.VC.opendb
SG323/Builds/VisualStudio2022/.vs/SG323/v17/fileList.bin
SG323/Builds/VisualStudio2022/.vs/SG323/v17/ipch/AutoPCH/7d6f49ee22d9bceb/PLUGINPROCESSOR.ipch
SG323/Builds/VisualStudio2022/.vs/SG323/v17/ipch/AutoPCH/c28061401b02f736/PLUGINEDITOR.ipch
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Solution.VC.db
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Solution.VC.db-shm
SG323/Builds/VisualStudio2022/.vs/SG323/v17/Solution.VC.db-wal
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/CL.command.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/CL.read.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/CL.write.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/Lib-link.read.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/Lib-link.write.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/Lib.command.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.tlog/SG323_SharedCode.lastbuildstate
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/CL.command.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/CL.read.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/CL.write.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/link.command.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/link.read.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/link.write.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/rc.command.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/rc.read.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/rc.write.1.tlog
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_St.C5024BEB.tlog/SG323_StandalonePlugin.lastbuildstate
*.tlog
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323_VST3.vcxproj.FileListAbsolute.txt
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323_VST3.log
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323.vst3.recipe
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323.pdb
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323.lib
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323.ilk
SG323/Builds/VisualStudio2022/x64/Debug/VST3/SG323.exp
SG323/Builds/VisualStudio2022/x64/Debug/VST3/resources.res
SG323/Builds/VisualStudio2022/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_StandalonePlugin.vcxproj.FileListAbsolute.txt
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323_StandalonePlugin.log
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323.pdb
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323.ilk
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323.exe.recipe
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SG323.exe
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/resources.res
SG323/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.vcxproj.FileListAbsolute.txt
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323_SharedCode.log
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323.pdb
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323.lib.recipe
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/SG323.lib
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/PluginProcessor.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/PluginEditor.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_extra.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_basics.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_graphics.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_events.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_dsp.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_data_structures.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_core.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_utils.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors_lv2_libs.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors_ara.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_ARA.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_formats.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_devices.obj
SG323/Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_basics.obj
